<% @stockmovelog.each do |stocklog| %>
<table>
      <tr>
        <td><% stocklog.id %></td>
        <td class="align-center"><% stocklog.quantity %></td>
        <td><% stocklog.created_at %></td>
        <td class="align-right"><% stocklog.updated_at %></td>
        <td class="actions" data-hook="admin_products_index_row_actions"><% stocklog.action %></td>
      </tr>
</table>
<% end %>
