<% if @stockmovelog.any? %>
  <table class="index" id="listing_products">
    <colgroup>
       <col style="width: 15%;">
       <col style="width: 5%;">
       <col style="width: 50%;">
       <col style="width: 15%;">
       <col style="width: 15%;">
    </colgroup>
    <tbody>
      <% @stockmovelog.each do |movement| %>
          <tr>
            <td><%= movement.quantity %></td>
            <td class="align-center"><%= movement.updated_at %></td>
            <td class="align-right"><%= Spree::Variant.model_name.human %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-objects-found">
    <%= render 'spree/admin/shared/no_objects_found',
                  resource: Spree::Product,
                  new_resource_url: new_object_url %>
  </div>
<% end %>
