<table>
  <% @stockmovelog.each do |stocklog| %>
      <tr>
        <td><% stocklog.quantity %></td>
        <td class="align-center">Teste
        </td>
        <td>Teste</td>
        <td class="align-right">Teste</td>
        <td class="actions" data-hook="admin_products_index_row_actions"> Teste</td>
      </tr>
  <% end %>
</table>
