<tbody>
  <% @stockmovelog.each do |movement| %>
      <tr>
        <td><%= movement.id %></td>
        <td class="align-center">
        </td>
        <td><%= movement.created_at %></td>
        <td class="align-right"><%= movement.updated_at %></td>
        <td class="actions">
        </td>
      </tr>
  <% end %>
</tbody>
