<section id="landpage" class="b1">
  <div id="header-bar" class="header-bar"></div>
<div id="header" class="header">
  <div class="logo-holder animated slideInDown">
    <a href="https://www.tecnomult.com"><img src="/tecnologo.png" width="250px" height="auto"></a>
  </div>
  <div class="menu-holder animated slideInDown">
    <div class="dropdown">
      <a href="#" class="dropbtn"><span class="orange-plus">+</span> COMPUTADOR</a>
    </div>
    <div class="dropdown">
      <a href="#" class="dropbtn"><span class="orange-plus">+</span> MONITOR</a>
      <div class="dropdown-content animated fadeIn">
        <a href="#">ACER</a>
        <a href="#">ASUS</a>
        <a href="#">PHILIPS</a>
        <a href="#">SAMSUNG</a>
        <a href="#">ZOWIE</a>
      </div>
    </div>
    <div class="dropdown">
      <a href="#" class="dropbtn"><span class="orange-plus">+</span> HEADSET</a>
      <div class="dropdown-content animated fadeIn">
        <a href="#">ASTRO</a>
        <a href="#">CORSAIR</a>
        <a href="#">ELEMENT G</a>
        <a href="#">HYPERX</a>
        <a href="#">LOGITECH</a>
        <a href="#">MOTOSPEED</a>
        <a href="#">RAZER</a>
        <a href="#">REDRAGON</a>
        <a href="#">STEELSERIES</a>
      </div>
    </div>
    <div class="dropdown">
      <a href="#" class="dropbtn"><span class="orange-plus">+</span> MOUSE</a>
      <div class="dropdown-content animated fadeIn">
        <a href="#">CORSAIR</a>
        <a href="#">HYPER X</a>
        <a href="#">LOGITECH</a>
        <a href="#">MOTOSPEED</a>
        <a href="#">RAZER</a>
        <a href="#">REDRAGON</a>
        <a href="#">STEELSERIES</a>
        <a href="#">ZOWIE</a>

      </div>
    </div>
    <div class="dropdown">
      <a href="#" class="dropbtn"><span class="orange-plus">+</span> TECLADO</a>
      <div class="dropdown-content animated fadeIn">
        <a href="#">CORSAIR</a>
        <a href="#">HYPERX</a>
        <a href="#">LOGITECH</a>
        <a href="#">MOTOSPEED</a>
        <a href="#">OEX GAME</a>
        <a href="#">RAZER</a>
        <a href="#">REDRAGON</a>
        <a href="#">ROCCAT</a>
        <a href="#">STEELSERIES</a>
        <a href="#">THERMALTAKE</a>
      </div>
    </div>
    <div class="dropdown">
      <a href="#" class="dropbtn"><span class="orange-plus">+</span> CADEIRA</a>
      <div class="dropdown-content animated fadeIn">
        <a href="#">RAIDMAX</a>
      </div>
    </div>
    <div class="dropdown">
      <a href="#" class="dropbtn"><span class="orange-plus">+</span> PLACA DE VÍDEO</a>
    </div>
    <div class="dropdown">
      <button class="dropbtn"><span class="orange-plus">+</span> OUTRAS</button>
      <div class="dropdown-content animated fadeIn">
        <a href="#">WEBCAM</a>
        <a href="#">COOLER</a>
        <a href="#">MEMÓRIA</a>
        <a href="#">FONTE</a>
        <a href="#">HD</a>
        <a href="#">GABINETE</a>
        <a href="#">PLACA MÃE</a>
        <a href="#">MOUSEPAD</a>
      </div>
    </div>
  </div>
  <div class="mobile-menu animated rotateIn"><span onclick="openNav()" class="fas fa-bars"></span></div>
  </div>
  <div class="side-bar-holder">
<div class="search-bar-side">
  {% element 'snippets/search-main' %}
<div class="icon-adjust icon-add"><i class="fas fa-search"></i></div>
</div>
<div class="search-bar-side2 my-account-login">
  <span class="tray-hide" data-logged-user="true">CONTA</span>
  {% element 'snippets/customer-front' %}
<div class="icon-adjust">
  <i class="tray-hide fas fa-user" data-logged-user="false"></i>
  <a href="{{ links.orders }}"><i class="tray-hide fas fa-user" data-logged-user="true" style="color: white;"></i></a></div>
</div>
<div class="search-bar-side3">
  {% element 'snippets/cart-front' %}
<div class="icon-adjust icon-add"><i class="fas fa-shopping-cart"></i></div>
</div>
  </div>
</section>
<section class="content">
  <div class="post-holder">
    <div class="title-post-front">
      <span><i><t5><t5></i></span>
    </div>
    <div class="text-post-front">
      <div class="product-holder">
        <div class="product-right">
          <div class="product-big-tall2"><div class="title-holder">
          <span class="tall-title2">MOTOSPEED</span>
          <div class="btn-holder5">
            <button class="btn-login"><a href="https://www.tecnomult.com/motospeed">VEJA MAIS</a></button>
            </div>
            </div>
          </div>
        </div>
        <div class="product-category-holder">
          <div class="product-small">
            <span class="small-title">CORSAIR</span>
            <div class="btn-holder3">
              <button class="btn-login-black"><a href="https://www.tecnomult.com/corsair">VEJA MAIS</a></button>
              </div>
          </div>
          <div class="product-small2">
            <span class="small-title2">ROCCAT</span>
            <div class="btn-holder4">
              <button class="btn-login"><a href="https://www.tecnomult.com/roccat">VEJA MAIS</a></button>
              </div>
          </div>
        </div>
        <div class="product-middle">
          <div class="product-big-wide">
            <div class="title-holder">
            <span class="wide-title">HYPERX</span>
            <div class="btn-holder">
              <button class="btn-login"><a href="https://www.tecnomult.com/hyperx">VEJA MAIS</a></button>
              </div>
              </div>
          </div>
        </div>
        <div class="product-right">
          <div class="product-big-tall"><div class="title-holder">
          <span class="tall-title">LOGITECH</span>
          <div class="btn-holder2">
            <button class="btn-login"><a href="https://www.tecnomult.com/logitech">VEJA MAIS</a></button>
            </div>
            </div></div>
            <div class="product-small3">
              <span class="small-title2">LOGITECH</span>
              <div class="btn-holder4">
                <button class="btn-login"><a href="https://www.tecnomult.com/logitech">VEJA MAIS</a></button>
                </div>
            </div>
            <div class="product-small4">
              <span class="small-title2">MOTOSPEED</span>
              <div class="btn-holder4">
                <button class="btn-login"><a href="https://www.tecnomult.com/motospeed">VEJA MAIS</a></button>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
