/*---------------------------------------------------------
  Empty file to override variables in user applications.

  To set your own colors, sizes or fonts just override this
  file in your application and set variables according to
  globals/_variables.scss file.
  --------------------------------------------------------- */
  $color-1:                        #FFFFFF !default;    // White
  $color-2:                        #9FC820 !default;    // Green
  $color-3:                        #5498DA !default;    // Light Blue
  $color-4:                        #6788A2 !default;    // Dark Blue
  $color-5:                        #C60F13 !default;    // Red
  $color-6:                        #FF9300 !default;    // Yellow
  $color-7:                        #F4F4F4 !default;    // Light Gray
