// -------------------------------------------------------------
//   Variables used in all other files
//--------------------------------------------------------------

// Fonts
//--------------------------------------------------------------
$font-size-pill: 11px;

// Colors
//--------------------------------------------------------------

// Basic color palette for admin
$color-1:                        #0f0f0f !default;    // White
$color-2:                        #FF542B !default;    // Green
$color-3:                        #2c2c2c !default;    // Light Blue
$color-4:                        #959595 !default;    // Dark Blue
$color-5:                        #C60F13 !default;    // Red
$color-6:                        #FF9300 !default;    // Yellow
$color-7:                        #FFFFFF !default;    // Light Gray
